
<h3>Tonight you'll be having for dinner:</h3>
<div>

<img src=<%= @image %> alt="Picture of meal :<%= @meal %>">

  <p><strong> "<%= @meal %>"</strong> </p>
</div>

The Ingredients are:
  <p><i><%= @ingredient1 %></i></p>
  <p><i><%= @ingredient2 %></i></p>
  <p><i><%= @ingredient3 %></i></p>
  <p><i><%= @ingredient4 %></i></p>
  <p><i><%= @ingredient5 %></i></p>
  <p><i><%= @ingredient6 %></i></p>
  <p><i><%= @ingredient7 %></i></p>
  <p><i><%= @ingredient8 %></i></p>
  <p><i><%= @ingredient9 %></i></p>
  <p><i><%= @ingredient10 %></i></p>
  <p><i><%= @ingredient11 %></i></p>
  <p><i><%= @ingredient12 %></i></p>
  <p><i><%= @ingredient13 %></i></p>
  <p><i><%= @ingredient14 %></i></p>
  <p><i><%= @ingredient15 %></i></p>
  <p><i><%= @ingredient16 %></i></p>
  <p><i><%= @ingredient17 %></i></p>
